*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.video{
    height: 1000px;
    width: 1000px;
}
.nav{
    width: 1920px;
height: 100px;
position: absolute;
top: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav ul{
    display: flex;
}